---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Knowledge Continuum" property="og:site_name"/>
    <meta content="A non-linear thread of important ideas weaved together to explore and understand the fabric of knowledge." property="og:description">
    <meta content="{{ site.url }}/about/" property="article:author">

    {%- if page.title -%}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- else -%}
    <meta content="website" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- endif -%}

    <title>{{site.title}}</title>

    <link rel="canonical" href="{{site.url}}{{page.url}}"/>
    <link rel="apple-touch-icon" href="{{site.profile_pic}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

    <link rel="icon" href="{{site.favicon}}" type="image/png" sizes="16x16"/>
    <link href="/assets/css/style.css" rel="stylesheet" media="all" class="default"/>

    <!--[if IE]>
        <link href="/assets/css/ie-target.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--<link href="/assets/css/prism.css" rel="stylesheet" />-->
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
</head>

<body>
    <div class="container">                    
        <div class = "box">
            {%- include header.html -%}
            {%- include feed.html -%}

            {%- if page.content-type == "notes" 
                or page.content-type == "post" 
                or page.content-type == "eg" -%}
            <main>
                <h1>{{page.title}}</h1>
                {%- include content.html -%}
                {%- include backlinks.html -%}
                {%- include related.html -%}
            </main>
            {%- endif -%}
            {%- include comments.html -%}
            {%- include footer.html -%}
        </div>
        <button class="scroll-to-top" id="scroll-to-top"><i class="fa fa-chevron-up"></i></button>
    </div>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script>
        document.getElementById("scroll-to-top").addEventListener("click", function() {
            window.scrollTo({top: 0, left: 0, behavior: 'smooth'});
        });
    </script>
    {%- include contextmenu.html -%}
</body>
</html>
